<ion-header>
  <ion-toolbar color="padrao">
    <ion-buttons slot="start">
      <ion-button href="/">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Processo Seletivo Simplificado de Docentes
      </ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="calendar" color="dark"></ion-icon> 11 mar,2019
        <ion-icon name="person" color="dark"></ion-icon> Matheus Furtado
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Estão abertas as inscrições para o Processo Seletivo Simplificado de Docentes, objetivando a formação de cadastro
      para a contratação temporária de excepcional caráter público, para os Componentes Curriculares Cálculos
      Financeiros (Administração) e Língua Portuguesa e Literatura (Ensino Médio), no período de 11/03/2019 à
      25/03/2019 (exceto aos sábados, domingos, feriados e pontos facultativos) no horário das 08:00 às 11:00, das
      14:00 às 16:30 e das 19:00 às 21:00.

      Leia o Edital de Abertura para conhecer as condições para inscrição e as fases do Processo Seletivo
    </ion-card-content>
  </ion-card>

</ion-content>