<ion-header>
  <ion-toolbar color="padrao">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Localização
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> Rua Ludovico Victório, 2140

        Vila Habitacional, Barra Bonita – SP, 17340-000

        Dúvidas, sugestões ou críticas ? Entre em contato !
       <!-- <ion-img src="assets/cidade.png"></ion-img>-->
    </ion-card-content>
  </ion-card>

  <ion-list > 

    <ion-item color="medium">     

      <ion-icon color="dark" slot="start" name="call">
      </ion-icon>

      <ion-label>
        <h3>(14) 3641-1310</h3>
       </ion-label>       
     
    </ion-item>

    <ion-item color="medium">      

      <ion-icon color="dark" slot="start" name="briefcase">
      </ion-icon>

      <ion-label>
        <h3>Diretoria </h3>
        <p>e040dir@cps.sp.gov.br </p>
       </ion-label>  
            
    </ion-item>

    <ion-item color="medium">      

        <ion-icon color="dark" slot="start" name="folder">
        </ion-icon>
  
        <ion-label>
          <h3>Diretoria de Serviço<p> Administrativa</p> </h3>
          <p>e040adm@cps.sp.gov.br </p>
         </ion-label>  
              
      </ion-item>

      <ion-item color="medium">      

          <ion-icon color="dark" slot="start" name="archive">
          </ion-icon>
    
          <ion-label>
            <h3>Assistente Técnico <p>Administrativo</p></h3> 
              <p>e040ata@cps.sp.gov.br</p>
           </ion-label>  
                
        </ion-item>

        <ion-item color="medium">      

            <ion-icon color="dark" slot="start" name="ribbon">
            </ion-icon>
      
            <ion-label>
              <h3>Diretoria de Serviço Acadêmica</h3> 
              <p>e040acad@cps.sp.gov.br</p>
             </ion-label>  
                  
          </ion-item>

          <ion-item color="medium">      

              <ion-icon color="dark" slot="start" name="book">
              </ion-icon>
        
              <ion-label>
                <h3>Coordenação Pedagógica</h3> 
                <p>coordenacao</p> <p>@etecbarrabonita.com.br</p>
               </ion-label>  
                    
            </ion-item>

            <ion-item color="medium">      

                <ion-icon color="dark" slot="start" name="desktop">
                </ion-icon>
          
                <ion-label>
                  <h3><p>Tecnologia da Informação </p>e Comunicação</h3>
                  <p>tic@etecbarrabonita.com.br</p>
                 </ion-label>  
                 
                      
              </ion-item>
    
  

  </ion-list>
</ion-content>