<ion-header>
  <ion-toolbar color="padrao">
    <ion-buttons slot="start">
      <ion-button href="/">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        Aviso de convocação 2
      </ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="calendar" color="dark"></ion-icon> 30 jan,2019
        <ion-icon name="person" color="dark"></ion-icon> Matheus Furtado
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Aviso de Convocação nº 2 – Aviso de Abertura nº 040/02/2018 – Processo 2877/2018
      Convocação 2 – Gestão Empreendedora e Inovação

      Aviso de Convocação nº 2 – Aviso de Abertura nº 040/03/2017 – Processo 3891/2017
      Convocação 2 – Sociologia


    </ion-card-content>
  </ion-card>

</ion-content>