
ion-button {
    
  text-align: center;
  text-transform: uppercase;
  
}

ion-card-title{

  text-align: center;
  

}

h2{
  text-align: center;
  text-transform: uppercase;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
